In [1]:
# Data Preprocessing

# Importing the libraries
import numpy as np
import pandas as pd
pd.options.display.max_rows = 4000

In [2]:
# Importing the dataset
dataset = pd.read_csv('Data.csv')
df1 = dataset.copy()
df2 = dataset.copy()
X1 = df1.iloc[:, :-1].values
y1 = df1.iloc[:, 3].values
X2 = df2.iloc[:,:-1].values
y2 = df2.iloc[:,-1].values

In [3]:
df1

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(X1[:, 1:3])
X1[:, 1:3] = imputer.transform(X1[:, 1:3])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [5]:
X1

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [7]:
# Encoding categorical data
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [8]:
labelencoder_X1 = LabelEncoder()
X1[:, 0] = labelencoder_X1.fit_transform(X1[:, 0])
onehotencoder = OneHotEncoder(categorical_features = [0])
X1 = onehotencoder.fit_transform(X1).toarray()
# Encoding the Dependent Variable
labelencoder_y1 = LabelEncoder()
y1 = labelencoder_y1.fit_transform(y1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

## imputer

In [13]:
from sklearn.impute import SimpleImputer
Si_imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
Si_imputer = Si_imputer.fit(X2[:, 1:3])
X2[:, 1:3] = Si_imputer.transform(X2[:, 1:3])

In [14]:
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer([('one_hot_encoder', OneHotEncoder(), [0])],remainder='passthrough')
X2 = np.array(transformer.fit_transform(X2), dtype=np.int)
labelencoder_y2 = LabelEncoder()
y2 = labelencoder_y2.fit_transform(y2)

In [15]:
X2

array([[    1,     0,     0,    44, 72000],
       [    0,     0,     1,    27, 48000],
       [    0,     1,     0,    30, 54000],
       [    0,     0,     1,    38, 61000],
       [    0,     1,     0,    40, 63777],
       [    1,     0,     0,    35, 58000],
       [    0,     0,     1,    38, 52000],
       [    1,     0,     0,    48, 79000],
       [    0,     1,     0,    50, 83000],
       [    1,     0,     0,    37, 67000]])

## Scaling of data

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc_x = StandardScaler()
X2 = sc_x.fit_transform(X2)

In [18]:
X2

array([[ 1.22474487e+00, -6.54653671e-01, -6.54653671e-01,
         7.69734393e-01,  7.49480344e-01],
       [-8.16496581e-01, -6.54653671e-01,  1.52752523e+00,
        -1.69922498e+00, -1.43817132e+00],
       [-8.16496581e-01,  1.52752523e+00, -6.54653671e-01,
        -1.26352627e+00, -8.91258402e-01],
       [-8.16496581e-01, -6.54653671e-01,  1.52752523e+00,
        -1.01663033e-01, -2.53193334e-01],
       [-8.16496581e-01,  1.52752523e+00, -6.54653671e-01,
         1.88802776e-01, -6.38065068e-05],
       [ 1.22474487e+00, -6.54653671e-01, -6.54653671e-01,
        -5.37361746e-01, -5.26649792e-01],
       [-8.16496581e-01, -6.54653671e-01,  1.52752523e+00,
        -1.01663033e-01, -1.07356271e+00],
       [ 1.22474487e+00, -6.54653671e-01, -6.54653671e-01,
         1.35066601e+00,  1.38754541e+00],
       [-8.16496581e-01,  1.52752523e+00, -6.54653671e-01,
         1.64113182e+00,  1.75215402e+00],
       [ 1.22474487e+00, -6.54653671e-01, -6.54653671e-01,
        -2.46895937e-01,  2.93719581e-01]])